* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
}

body {
    background: linear-gradient(to left, #667eea, #764ba2);
}

.a {
    padding: 150px;
}

.b {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

button,
input {
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bolder;
}

label {
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

button:hover {
    font-size: 25px;
    font-weight: bolder;
    border-radius: 10px;

}

h1 {
    font-size: 35px;
    font-weight: bolder;
    color: white;
}
