* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to right, #00c6ff, #0072ff);
}

.caixa1 {
    padding: 150px;
}

.caixa2 {
    height: 800px;
}

.caixa3 {
    height: 450px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #e0e0e0;
    font-size: 18px;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 50px;
}
h2{
    font-size: 25px;
    font-weight: bolder;
    color: black;
}
.caixa3:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 16px;
}