* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(to right, #00c6ff, #0072ff);
}


.caixa1 {
    display: block;
    height: 250px;
    background-color: #00c6ff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bolder;
}

.caixa2 {
    display: inline;
    height: 250px;
    background-color: #00c6ff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bolder;
}

.caixa3 {
    display: inline-block;
    height: 250px;
    background-color: #00c6ff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bolder;
    flex-direction: column;
}

img {
    width: 150px;
    height: 150px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 150px;
}
.caixa1:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.caixa2:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.caixa3:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}