*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
body{
    background: linear-gradient(to left, #7A70FF, #FF91B8);
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px;
    padding: 100px;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
font-size: 20px;
font-weight: bolder;
}

input,button{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    text-decoration: none;
    margin: 10px;
}

input{
    background: rgba(255,255,255,0.7);
    color: #333;
}

button{
    background-color: #7A70FF;
    color: white;
}

button:hover{
   font-size: 18px;
   font-weight: bolder;
}

h1{
    font-weight: bolder;
    color: white;
}

a{
   width: 150px;
height: 50px;
border-radius: 5px;
background-color: #7A70FF;
color: white;
text-decoration: none;
display: flex;
align-items: center;
justify-content: center;
font-size: 18px;

}
