*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #ff7e5f, #ee0979);
}
.container{
    padding: 150px;
    display: flex;
    justify-content: space-between;
}

.a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    background: linear-gradient(to bottom, #ff7e5f, #feb47b);
     border-radius: 10px;
}
.b{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    background: linear-gradient(to right, #6a11cb, #2575fc);
     border-radius: 10px;
}
.c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    background: linear-gradient(45deg, #ff6a00, #ee0979);
     border-radius: 10px;
}
h1{
    font-weight: bolder;
    font-size: 25px;
    color: white;
}
p{
    font-size: 18px;
    font-weight: bold;
}
.a:hover,.b:hover,.c:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
